@mixin transition($args) {
    -webkit-transition: $args;
    -moz-transition: $args;
    -ms-transition: $args;
    -o-transition: $args;
    transition: $args;
}

@mixin keyframes($animation-name) {
    @-webkit-keyframes #{$animation-name} {
        @content;
    }
    @-moz-keyframes #{$animation-name} {
        @content;
    }  
    @-ms-keyframes #{$animation-name} {
        @content;
    }
    @-o-keyframes #{$animation-name} {
        @content;
    }  
    @keyframes #{$animation-name} {
        @content;
    }
}

@mixin animation($args) {
  -webkit-animation: $args;
  -moz-animation: $args;
  -ms-animation: $args;
  -o-animation: $args;
  animation: $args;      
}

@mixin animation-delay($time) {
    -webkit-animation-delay: #{$time};
    -moz-animation-delay: #{$time};
    -ms-animation-delay: #{$time};
    -o-animation-delay: #{$time};
    animation-delay: #{$time};      
}

@mixin animation-fill-mode($direction) {
    -webkit-animation-fill-mode: #{$direction};
    -o-animation-fill-mode: #{$direction};
    animation-fill-mode: #{$direction};      
}