@mixin transition($args...) {
    -webkit-transition: $args;
    -o-transition: $args;
    transition: $args;
}

@mixin keyframes($animation-name) {
    @-webkit-keyframes #{$animation-name} {
        @content;
    }
    @keyframes #{$animation-name} {
        @content;
    }
}

@mixin transform($args) {
    -webkit-transform: $args;
    -moz-transform: $args;
    -ms-transform: $args;
    -o-transform: $args;
    transform: $args;
}

@mixin animation($args) {
  -webkit-animation: $args;
  -moz-animation: $args;
  -o-animation: $args;
  animation: $args;      
}

@mixin animation-delay($time) {
    -webkit-animation-delay: #{$time};
    -moz-animation-delay: #{$time};
    -o-animation-delay: #{$time};
    animation-delay: #{$time};      
}

@mixin animation-fill-mode($direction) {
    -webkit-animation-fill-mode: #{$direction};
    -o-animation-fill-mode: #{$direction};
    animation-fill-mode: #{$direction};      
}

@mixin placeholder {
    ::placeholder {@content};
    ::-webkit-input-placeholder {@content};
    :-moz-placeholder {@content};
    ::-moz-placeholder {@content};
    :-ms-input-placeholder {@content};
    ::-ms-input-placeholder {@content};
}

@mixin ios-form-fix {
    -webkit-appearance: none;
    appearance: none;
    -webkit-border-radius: none;
    border-radius: none;
}