$mobile-header-padding: 15px;
$mobile-div-padding: 10px;

.logo {
    flex-shrink: 2;
    margin-right: 15px;
    font-size: $logo-mobile-font-size;
}

.menu-button {
    flex-shrink: 1;
    width: 24px;
}

.navigation {
    &__list {
        @include transition(width ease-in-out 300ms);
        width: 75%;
    }
}

.content {
    width: 90%;

    &__title {
        font-size: $mobile-title-font-size;
    }

    &__subtitle {
        font-size: $mobile-subtitle-font-size;
    }

    &__body {
        &-about {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
    &__paragraph {
        font-size: $mobile-paragraph-font-size;

        &-list-header {
            font-size: $mobile-paragraph-font-size;
        }

        &-list-body {
            font-size: $mobile-paragraph-font-size;
        }
    }

    &__column {
        width: 100%;
        &-subcolumn {
            width: 100%;
        }
    }

    &__footnote {
        font-size: $mobile-paragraph-font-size;
    }

}

%mobile-test {
    border: 2px solid red;
}

#portfolio-column-3{
    flex-direction: column;
}

.pricing {
    font-size: $mobile-paragraph-font-size;
}

#about-image-1 {
    float: none;
    padding: 0 0 10px 0;
}

#about-image-2 {
    float: none;
    padding: 0 0 10px 0;
}

.action-button {
    font-size: $mobile-paragraph-font-size;
}

input {
    font-size: $mobile-paragraph-font-size;
}

@include placeholder {
    font-size: $mobile-paragraph-font-size;
}

footer {
    width: 100%;
    padding: 10px;
}

.social {
    &__link {
        padding: $mobile-icon-padding;
        font-size: $mobile-icon-font-size;
    }
}

.copyright {
    font-size: $mobile-footer-font-size;
}