.logo {
    flex-shrink: 2;
    margin-right: 15px;
    font-size: $logo-mobile-font-size;
}

.menu-button {
    flex-shrink: 1;
    width: 24px;
}

.content {
    &__title {
        font-size: $mobile-title-font-size;
    }
    &__paragraph {
        font-size: $mobile-paragraph-font-size;
    }
}

.social {
    &__link {
        padding: $mobile-icon-padding;
        font-size: $mobile-icon-font-size;
    }
}

.copyright {
    font-size: $mobile-footer-font-size;
}