/* Main Imports & Animations */
@import 'mixins';
@import 'animations';

// Text & Font
$main-font-stack: 'Georgia', 'Times New Roman', serif;
$decorative-font: 'DancingScriptOT';
$main-font-size: 18px;
$small-font-size: 16px;

$main-div-padding: 15px;
$mobile-div-padding: 10px;

$main-button-padding: 20px;
$mobile-link-padding: 5px;

$logo-font-size: 36px;
$title-font-size: 48px;
$nav-font-size: 16px;

// Color Pallete
$gold: #eac67a;
$green: #373F27;
$grey: #636b46;

/* Inheritance Classes */
 %full-center {
     justify-content: center;
     align-items: center;
     text-align: center;
 }

 %fill-superview {
     width: 100%;
     height: 100%;
 }

 %link-hover {
    @include transition(all ease-in-out 200ms);
 }

 %top-space {
     margin-top: $main-div-padding;
 }

 %bottom-space {
     margin-bottom: $main-div-padding;
 }

 %test {
     border: red 2px solid;
 }


/* Core */
* {
    margin: 0;
    padding: 0;
    font-size: $main-font-size;
}

body {
    * {
        box-sizing: border-box;
        display: flex;
        font-family: $main-font-stack;
    }
}


header {
    $main-height: 75px;
    $main-padding: 0 25px;

    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: $main-height;
    position: absolute;
    top: 15px;
    padding: $main-padding;
    z-index: 1;
}

.logo {
    flex-grow: 1;
    font-family: $decorative-font;
    font-size: $logo-font-size;
    color: $gold;
}

/* Nav Nesting */
nav {
    @extend %full-center;
    height: 100%;
    $nav-padding: 0 30px;

    ul {
        @extend %full-center;
        height: 60%;
        border: solid $gold;
        border-width: 1px 0;
    }
    li {
        @extend %full-center;
        flex-direction: column;
        position: relative;
        top: 2px;
        padding: $nav-padding;
        &::after {
            content: '';
            width: 0;
            height: 1px;
            margin-top: 1px;
            background: $gold;
            @extend %link-hover;
        }
        &:hover::after {
            width: 100%;
        }
    }
    a {
        font-size: $nav-font-size;
        color: $gold;
        text-decoration: none;
    }
}

main {
    @extend %full-center;
    flex-direction: column;
    width: 100%;
}

.cover {
    position: relative;
    width: 100%;
    height: auto;
    max-height: 100vh;
    overflow: hidden;
    opacity: 0;
    @include animation(fade 2s 500ms);
    @include animation-fill-mode(forwards);

    &__image {
        @extend %fill-superview;
        object-fit: cover;
    }
}

.content {
    @extend %full-center;
    flex-direction: column;
    padding: $main-div-padding 0;
    color: $green;

    &__title {
        font-family: $decorative-font;
        font-size: $title-font-size;
    }

    &__body {
        @extend %full-center;
        @extend %top-space;
        flex-direction: column;
        width: 80%;
    }

    &__paragraph {
        @extend %bottom-space;
        display: block;
        text-align: left;
        line-height: 1.3rem;
    }
}

.action-button {
    @extend %full-center;
    min-width: 200px;
    height: 50px;
    padding: 0 $main-button-padding;
    border: 1px solid $green;
    color: $green;
    font-style: italic;
    text-decoration: none;
    @include transition(all 300ms ease-in-out);

    &:hover {
        background-color: $green;
        color: #fff;
    }

    &:active {
        color: #eee;
    }
}

footer {
    @extend %full-center;
    flex-direction: column;
    padding: $main-div-padding;
}

.social {
    $icon-size: 30px;
    $icon-padding: 0 15px;
    @extend %full-center;
    
    margin-bottom: 5px;

    &__link {
        padding: $icon-padding;
        text-decoration: none;
        font-size: $icon-size;
        color: $grey;
        @extend %link-hover;
        
        &:hover {
            color: $green;
        }
    }
}

.copyright {
    @extend %full-center;
    flex-direction: column;
    flex-wrap: wrap;

    p {
        color: $grey;
        font-size: $small-font-size;
        line-height: 1.25rem;
    }
}

/**
 *  Unique pages.
 */

 /**
  *  Media queries.
  */

@media screen and (max-width: 600px) {
    @import 'mobile';
}

/* Fonts */
 @import 'fonts';
