* {
    margin: 0px;
    padding: 0px;
    font-size: 18px;
    line-height: 1.25em;
}

body * {
    box-sizing: border-box;
    display: flex;
    font-family: 'Georgia', 'Times New Roman', serif;
}

header {
    justify-content: space-between;
    background-color: transparent;
    width: 100%;
    position: absolute;
    top: 15px;
    height: 75px;
    padding: 0px 25px 0px 25px;
    color: #EAC67A;
}

.logo h1 {
    align-items: center;
    height: 100%;
    font-family: "DancingScriptOT";
    font-size: 33px;
    z-index: 1;
}

nav {
    width: 60%;
    height: 100%;
    align-items: center;
    z-index: 1;
    background-color: transparent;
}

nav ul {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 75%;
    border: solid #EAC67A;
    border-width: 1px 0px 1px 0px;
}

nav li {
    top: 2px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 5px 0px 5px;
}

nav a {
    text-align: center;
    text-decoration: none;
    color: #EAC67A;
}

main {
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.cover {
    width: 100%;
    height: auto;
    max-height: 100vh;
    overflow: hidden;
}

.cover-image {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.content {
    flex-direction: column;
    align-items: center;
    width: 75%;
    margin-top: 25px;
    color: #373F27;
}

.spacer {
    height: 90px;
}

.title {
    justify-content: center;
}

.title h2 {
    text-align: center;
    font-family: "DancingScriptOT";
    font-size: 48px;
}

.subtitle {
    width: 100%;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.subtitle h3 {
    text-align: center;
    font-size: 24px;
    font-weight: normal;
    border-bottom: 1px solid #373F27;
}

.section {
    width: 100%;
    flex-wrap: wrap;
}

.primary-text {
    flex-direction: column;
    width: 100%;
}

.primary-text ul {
    flex-direction: column;
    padding: 15px;
}

#pricing {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 125%;
}

#pricing ul {
    padding: 0px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.list-sep {
    padding: 15px;
}

p {
    padding: 15px;
}

.secondary-text {
    flex-direction: column;
    width: 70%;
}

.list-head {
    font-style: italic;
}
.list-body {
    padding: 15px 0px 15px 25px;
}

.secondary-image {
    align-items: flex-start;
    width: 30%;
    height: auto;
    padding: 15px;
}

.secondary-image img {
    object-fit: contain;
    width: 100%;
    height: auto;
}

.outline-button {
    justify-content: center;
    align-items: center;
    min-width: 200px;
    height: 50px;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 15px;
    border: 1px solid #373F27;
    background-color: #FFFFFF;
    color: #373F27;
    text-decoration: none;
    font-style: italic;
    transition: all 0.3s ease-in-out;
}

.outline-button:hover {
    cursor: pointer;
    color: #FFFFFF;
    background-color: #373F27;
}

footer {
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 15px;
    color: #636B46;
}

.icon-bar a {
    padding: 0px 15px 15px 15px;
    text-decoration: none;
    font-size: 30px;
    color: #636B46;
    transition: color 0.3s ease-out;
}

.icon-bar a:hover {
    color: #373F27;
}

.copyright {
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.copyright p {
    text-align: center;
    font-size: 15px;
    line-height: 1.5em;
    padding: 0px;
}

@media only screen and (max-width: 1024px) {

    .logo {
        width: 100%;
    }

    nav {
        position: fixed;
        top: 0;
        left: 0;
        height: 0;
        width: 100%;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0, 0.9);
        overflow: hidden;
    }

    nav ul {
        position: relative;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        top: 25%;
        width: 100%;
        text-align: center;
        border: 0px;
    }

    nav a {
        padding: 8px;
        text-decoration: none;
        color: #818181;
        transition: 0.3s;
    }

    nav a:hover {
        color: #f1f1f1;
    }

    #closeDropdown {
        position: absolute;
        top: 20px;
        right: 45px;
        font-size: 60px;
    }

    .dropdown {
        display: flex;
    }

    .section {
        flex-direction: column;
        align-items: center;
    }

    #about_1 {
        flex-direction: column-reverse;
    }

    .secondary-text {
        width: 100%;
    }

    .secondary-image {
        width: 70%;
        height: auto;
        max-width: 400px;
        max-height: 400px;
        padding: 10px;
    }

    #pricing {
        flex-direction: column;
    }
    
    #pricing ul {
        padding: 0px;
        flex-direction: column;
    }
    
    #pricing li {
        padding: 5px;
    }

    .list-sep {
        display: none;
    }    
}