body * {
    font-size: 16px;
}

header {
    padding: 0px 10px 0px 10px;
    height: 35px;
}

.logo h1 {
    font-size: 24px;
}

.title h2 {
    font-size: 32px;
}

.subtitle h3 {
    font-size: 20px;
}

.content {
    width: 100%;
    padding: 10px;
    margin: 0px;
}

.spacer {
    height: 50px;
}

#portfolio {
    width: 100%;
}

.column {
    flex: 100%;
    justify-content: flex-start;
    max-width: 100%;
}

#col-3 {
    flex: 100%;
    padding: 0 5px;
    margin-bottom: 8px;
}

#col-3 img {
    width: 100%;
    padding: 0;
}

.sub-column {
    width: 100%;
    padding: 0px;
}

p {
    padding: 10px;
}

#about-img-1 {
    float: none;
}

#about-img-2 {
    float: none;
}

.secondary-image {
    justify-content: center;
    width: 100%;
    max-width: inherit;
    max-height: inherit;
}

.secondary-image img {
    max-width: 300px;
    max-height: 300px;
}

.list-body {
    padding: 10px 0px 10px 10px;
}

input[type=submit] {
    background-color: #57652A;
    color: #FFFFFF;
}

.icon-bar a {
    font-size: 25px;
}

.copyright p {
    font-size: 14px;
}