/* Main Imports & Animations */
@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}
@-moz-keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}
@-ms-keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}
@-o-keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}
/* Inheritance Classes */
.copyright, .social, footer, .action-button, .content__body, .content, main, .navigation__link, .navigation {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.cover__image {
  width: 100%;
  height: 100%;
}

.social__link, .navigation__link::after {
  -webkit-transition: all ease-in-out 200ms;
  -moz-transition: all ease-in-out 200ms;
  -ms-transition: all ease-in-out 200ms;
  -o-transition: all ease-in-out 200ms;
  transition: all ease-in-out 200ms;
}

.content__body {
  margin-top: 10px;
}

.content__paragraph {
  margin-bottom: 10px;
}

/* Core */
* {
  margin: 0;
  padding: 0;
  font-size: 18px;
}

body * {
  box-sizing: border-box;
  display: flex;
  font-family: "Georgia", "Times New Roman", serif;
}

header {
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 75px;
  position: absolute;
  top: 15px;
  padding: 0 25px;
  z-index: 1;
}

.logo {
  flex-grow: 1;
  font-family: "DancingScriptOT";
  font-size: 36px;
  font-weight: bold;
  color: #eac67a;
}

.navigation {
  height: 60%;
  border: solid #eac67a;
  border-width: 1px 0;
}
.navigation__link {
  flex-direction: column;
  position: relative;
  top: 2px;
  margin: 0 30px;
  font-size: 16px;
  color: #eac67a;
  text-decoration: none;
}
.navigation__link::after {
  content: "";
  width: 0;
  height: 1px;
  margin-top: 1px;
  background: #eac67a;
}
.navigation__link:hover::after {
  width: 100%;
}

main {
  flex-direction: column;
  width: 100%;
}

.cover {
  position: relative;
  width: 100%;
  height: auto;
  max-height: 100vh;
  margin-bottom: 15px;
  overflow: hidden;
  opacity: 0;
  -webkit-animation: fade 2s 500ms;
  -moz-animation: fade 2s 500ms;
  -ms-animation: fade 2s 500ms;
  -o-animation: fade 2s 500ms;
  animation: fade 2s 500ms;
  -webkit-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.cover__image {
  object-fit: cover;
}

.content {
  flex-direction: column;
  color: #373F27;
  width: 80%;
}
.content__title {
  font-family: "DancingScriptOT";
  font-size: 48px;
  font-weight: bold;
}
.content__body {
  flex-direction: column;
}
.content__paragraph {
  display: block;
  text-align: left;
  line-height: 1.35em;
}

.action-button {
  min-width: 200px;
  height: 50px;
  padding: 0 20px;
  margin: 20px 0;
  border: 1px solid #373F27;
  color: #373F27;
  font-style: italic;
  text-decoration: none;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.action-button:hover {
  background-color: #373F27;
  color: #fff;
}
.action-button:active {
  color: #eee;
}

footer {
  flex-direction: column;
  margin: 10px 0;
}

.social {
  margin-bottom: 10px;
}
.social__link {
  padding: 0 15px;
  text-decoration: none;
  font-size: 30px;
  color: #636b46;
}
.social__link:hover {
  color: #373F27;
}

.copyright {
  display: block;
  color: #636b46;
  font-size: 16px;
  line-height: 1.5em;
}

/**
 *  Unique pages.
 */
/**
 *  Media queries.
 */
@media screen and (max-width: 600px) {
  header {
    height: 50px;
    padding: 0 15px;
  }
}
/* Fonts */
/**
 *  +-------------------------------------+
 *  |-Downloaded from fontsquirrel.com----+
 *  |-Converted using font-converter.net.-+
 *  +-------------------------------------+
 */
@font-face {
  font-family: "DancingScriptOT";
  src: url("./fonts/DancingScript-Regular.eot");
  /* IE9 Compat Modes */
  src: url("./fonts/DancingScript-Regular.eot?#iefix") format("embedded-opentype"), url("./fonts/DancingScript-Regular.otf") format("opentype"), url("./fonts/DancingScript-Regular.svg") format("svg"), url("./fonts/DancingScript-Regular.ttf") format("truetype"), url("./fonts/DancingScript-Regular.woff") format("woff"), url("./fonts/DancingScript-Regular.woff2") format("woff2");
  /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

/*# sourceMappingURL=style.css.map */
