/* Main Imports & Animations */
@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}
@-moz-keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}
@-ms-keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}
@-o-keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}
/* Inheritance Classes */
.copyright, .social, footer, .action-button, .pricing, .content__image, .content, main, .navigation__link, .navigation__list {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.cover__image {
  width: 100%;
  height: 100%;
}

.social__link, .navigation__link::after {
  -webkit-transition: all ease-in-out 200ms;
  -moz-transition: all ease-in-out 200ms;
  -ms-transition: all ease-in-out 200ms;
  -o-transition: all ease-in-out 200ms;
  transition: all ease-in-out 200ms;
}

.content__body-about, .content__body, .content__subtitle {
  margin-top: 10px;
}

.content .content__paragraph-list-body, .content .content__paragraph-list-header, .content .content__paragraph {
  margin-bottom: 10px;
}

#menu-button-wrapper, .logo, header {
  -webkit-transition: all ease-in-out 300ms;
  -moz-transition: all ease-in-out 300ms;
  -ms-transition: all ease-in-out 300ms;
  -o-transition: all ease-in-out 300ms;
  transition: all ease-in-out 300ms;
}

/* Core */
* {
  margin: 0;
  padding: 0;
}

body * {
  box-sizing: border-box;
  display: flex;
  font-family: "Georgia", "Times New Roman", serif;
}

header {
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 75px;
  position: absolute;
  top: 15px;
  padding: 0 25px;
  z-index: 1;
}

.logo {
  font-family: "DancingScriptOT";
  font-size: 36px;
  font-weight: bold;
  color: #eac67a;
}

#mobile-navigation-wrapper {
  width: 55%;
  height: 55%;
  z-index: 2;
}

.navigation {
  width: 100%;
  height: 100%;
  border: solid #eac67a;
  border-width: 1px 0;
}
.navigation__list {
  justify-content: space-around;
  width: 100%;
  height: 100%;
}
.navigation__list-spacer {
  display: none;
}
.navigation__link {
  flex-direction: column;
  position: relative;
  top: 2px;
  font-size: 16px;
  color: #eac67a;
  text-decoration: none;
}
.navigation__link::after {
  content: "";
  width: 0;
  height: 1px;
  margin-top: 1px;
  background: #eac67a;
}
.navigation__link:hover::after {
  width: 100%;
}

#menu-button-wrapper {
  display: none;
}

.menu-button {
  z-index: 2;
}

main {
  flex-direction: column;
  width: 100%;
}

.cover {
  position: relative;
  width: 100%;
  height: auto;
  max-height: 100vh;
  margin-bottom: 15px;
  overflow: hidden;
  opacity: 0;
  -webkit-animation: fade 2s 500ms;
  -moz-animation: fade 2s 500ms;
  -ms-animation: fade 2s 500ms;
  -o-animation: fade 2s 500ms;
  animation: fade 2s 500ms;
  -webkit-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.cover__image {
  object-fit: cover;
}

.content {
  flex-direction: column;
  color: #373F27;
  width: 75%;
}
.content__title {
  font-family: "DancingScriptOT";
  font-size: 48px;
  font-weight: bold;
}
.content__subtitle {
  font-size: 28px;
  border-bottom: 1px solid #373F27;
}
.content__body {
  flex-direction: column;
}
.content__body-about {
  display: block;
}
.content .content__paragraph-list-body, .content .content__paragraph-list-header, .content .content__paragraph {
  display: block;
  text-align: left;
  line-height: 1.35em;
}
.content__paragraph {
  font-size: 18px;
}
.content__paragraph-list-header {
  font-size: 18px;
  font-style: italic;
}
.content__paragraph-list-body {
  font-size: 18px;
  padding-left: 15px;
}
.content__image {
  width: 30%;
  max-width: 400px;
  max-height: 400px;
  min-width: 200px;
  min-height: 200px;
}
.content__image img {
  object-fit: contain;
  width: 100%;
  height: auto;
}

.pricing {
  font-size: 18px;
}
.pricing__list-item {
  margin: 0 10px;
}

#FAQ-Header {
  padding-bottom: 10px;
  border: solid #373F27;
  border-width: 0 0 1px 0;
}

#about-image-1 {
  float: right;
  padding: 0 0 0 15px;
}

#about-image-2 {
  float: left;
  padding: 0 15px 0 0;
}

.action-button {
  min-width: 200px;
  height: 50px;
  padding: 0 20px;
  margin: 20px 0;
  border: 1px solid #373F27;
  color: #373F27;
  font-style: italic;
  font-size: 18px;
  text-decoration: none;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.action-button:hover {
  background-color: #373F27;
  color: #fff;
}
.action-button:active {
  color: #eee;
}

footer {
  flex-direction: column;
  margin: 10px 0;
}

.social {
  margin-bottom: 10px;
}
.social__link {
  padding: 0 15px;
  text-decoration: none;
  font-size: 30px;
  color: #636b46;
}
.social__link:hover {
  color: #373F27;
}

.copyright {
  display: block;
  color: #636b46;
  font-size: 16px;
  line-height: 1.5em;
}

/* Media queries. */
@media screen and (max-width: 1024px) {
  .navigation, #mobile-navigation-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }

  .menu-button__bar-three, .menu-button__bar-two, .menu-button__bar-one {
    width: 100%;
    height: 3px;
    background-color: #EAC67A;
    -webkit-transition: all ease-in-out 300ms;
    -moz-transition: all ease-in-out 300ms;
    -ms-transition: all ease-in-out 300ms;
    -o-transition: all ease-in-out 300ms;
    transition: all ease-in-out 300ms;
  }

  #mobile-navigation-wrapper {
    height: initial;
  }

  header {
    padding: 0 15px;
    height: 50px;
  }

  .logo {
    font-size: 30px;
  }

  .navigation {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 0;
    opacity: 0;
    overflow: hidden;
    border: none;
    -webkit-transition: opacity ease-in-out 300ms;
    -moz-transition: opacity ease-in-out 300ms;
    -ms-transition: opacity ease-in-out 300ms;
    -o-transition: opacity ease-in-out 300ms;
    transition: opacity ease-in-out 300ms;
  }
  .navigation__list {
    -webkit-transition: width ease-out 300ms;
    -moz-transition: width ease-out 300ms;
    -ms-transition: width ease-out 300ms;
    -o-transition: width ease-out 300ms;
    transition: width ease-out 300ms;
    flex-direction: column;
    justify-content: space-around;
    width: 50%;
    height: 50%;
  }
  .navigation__list-spacer {
    display: flex;
    width: 100%;
    height: 1px;
    background-color: #eac67a;
  }
  .navigation__link {
    position: initial;
    font-size: 18px;
    -webkit-transition: color ease-in-out 200ms;
    -moz-transition: color ease-in-out 200ms;
    -ms-transition: color ease-in-out 200ms;
    -o-transition: color ease-in-out 200ms;
    transition: color ease-in-out 200ms;
  }
  .navigation__link:hover {
    color: #fff;
  }
  .navigation__link:after {
    display: none;
  }

  #menu-button-wrapper {
    display: flex;
    cursor: pointer;
  }

  .menu-button {
    position: absolute;
    top: 25px;
    right: 15px;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 30px;
  }

  .open .navigation {
    height: 100%;
    background-color: #000;
    opacity: 0.9;
  }
  .open .menu-button {
    position: fixed;
    top: 25px;
    right: 15px;
  }
  .open .menu-button__bar-one {
    -webkit-transform: rotate(45deg) translate(7px, 7.25px);
    -moz-transform: rotate(45deg) translate(7px, 7.25px);
    -ms-transform: rotate(45deg) translate(7px, 7.25px);
    -o-transform: rotate(45deg) translate(7px, 7.25px);
    transform: rotate(45deg) translate(7px, 7.25px);
  }
  .open .menu-button__bar-two {
    opacity: 0;
  }
  .open .menu-button__bar-three {
    -webkit-transform: rotate(-45deg) translate(7.25px, -7px);
    -moz-transform: rotate(-45deg) translate(7.25px, -7px);
    -ms-transform: rotate(-45deg) translate(7.25px, -7px);
    -o-transform: rotate(-45deg) translate(7.25px, -7px);
    transform: rotate(-45deg) translate(7.25px, -7px);
  }

  .menu-button__bar-one {
    flex-shrink: 3;
  }

  .menu-button__bar-two {
    flex-shrink: 1;
  }

  .menu-button__bar-three {
    flex-shrink: 3;
  }

  .pricing {
    flex-direction: column;
  }
  .pricing__list-item {
    margin: 10px 0 0 0;
  }
  .pricing__list-spacer {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  .logo {
    flex-shrink: 2;
    margin-right: 15px;
    font-size: 20px;
  }

  .menu-button {
    flex-shrink: 1;
    width: 24px;
  }

  .navigation__list {
    -webkit-transition: width ease-in-out 300ms;
    -moz-transition: width ease-in-out 300ms;
    -ms-transition: width ease-in-out 300ms;
    -o-transition: width ease-in-out 300ms;
    transition: width ease-in-out 300ms;
    width: 75%;
  }

  .content {
    width: 90%;
  }
  .content__title {
    font-size: 32px;
  }
  .content__subtitle {
    font-size: 22px;
  }
  .content__body-about {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .content__paragraph {
    font-size: 16px;
  }
  .content__paragraph-list-header {
    font-size: 16px;
  }
  .content__paragraph-list-body {
    font-size: 16px;
  }
  .content__image {
    width: 75%;
    height: auto;
  }

  .pricing {
    font-size: 16px;
  }

  #about-image-1 {
    float: none;
    padding: 0 0 10px 0;
  }

  #about-image-2 {
    float: none;
    padding: 0 0 10px 0;
  }

  .action-button {
    font-size: 16px;
  }

  .social__link {
    padding: 0 10px;
    font-size: 26px;
  }

  footer {
    width: 100%;
    padding: 0 10px;
  }

  .copyright {
    font-size: 14px;
  }
}
/* Fonts */
/**
 *  +-------------------------------------+
 *  |-Downloaded from fontsquirrel.com----+
 *  |-Converted using font-converter.net.-+
 *  +-------------------------------------+
 */
@font-face {
  font-family: "DancingScriptOT";
  src: url("./fonts/DancingScript-Regular.eot");
  /* IE9 Compat Modes */
  src: url("./fonts/DancingScript-Regular.eot?#iefix") format("embedded-opentype"), url("./fonts/DancingScript-Regular.otf") format("opentype"), url("./fonts/DancingScript-Regular.svg") format("svg"), url("./fonts/DancingScript-Regular.ttf") format("truetype"), url("./fonts/DancingScript-Regular.woff") format("woff"), url("./fonts/DancingScript-Regular.woff2") format("woff2");
  /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

/*# sourceMappingURL=style.css.map */
