/* Main Imports & Animations */
@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}
@-moz-keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}
@-ms-keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}
@-o-keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}
/* Inheritance Classes */
footer, main, nav li, nav ul, nav {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.cover__image {
  width: 100%;
  height: 100%;
}

nav li::after {
  -webkit-transition: all ease-in 200ms;
  -moz-transition: all ease-in 200ms;
  -ms-transition: all ease-in 200ms;
  -o-transition: all ease-in 200ms;
  transition: all ease-in 200ms;
}

/* Core */
* {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 1.25em;
}

body * {
  box-sizing: border-box;
  display: flex;
  font-family: "Georgia", "Times New Roman", serif;
}

header {
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 75px;
  position: absolute;
  top: 15px;
  padding: 0 25px;
  z-index: 1;
}

.logo {
  flex-grow: 1;
  font-family: "DancingScriptOT";
  font-size: 36px;
  color: #eac67a;
}

/* Nav Nesting */
nav {
  height: 100%;
}
nav ul {
  height: 60%;
  border: solid #eac67a;
  border-width: 1px 0;
}
nav li {
  flex-direction: column;
  position: relative;
  top: 2px;
  padding: 0 20px;
}
nav li::after {
  content: "";
  width: 0;
  height: 1px;
  margin-top: 1px;
  background: #eac67a;
}
nav li:hover::after {
  width: 100%;
}
nav a {
  font-size: 16px;
  color: #eac67a;
  text-decoration: none;
}

main {
  flex-direction: column;
  width: 100%;
}

.cover {
  position: relative;
  width: 100%;
  height: auto;
  max-height: 100vh;
  overflow: hidden;
  opacity: 0;
  -webkit-animation: fade 2s 500ms;
  -moz-animation: fade 2s 500ms;
  -ms-animation: fade 2s 500ms;
  -o-animation: fade 2s 500ms;
  animation: fade 2s 500ms;
  -webkit-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.cover__image {
  object-fit: cover;
}

footer {
  flex-direction: column;
  padding: 15px;
}

/**
 *  Unique pages.
 */
/**
 *  Media queries.
 */
@media screen and (max-width: 600px) {
  header {
    height: 50px;
    padding: 0 15px;
  }
}
/* Fonts */
/**
 *  +-------------------------------------+
 *  |-Downloaded from fontsquirrel.com----+
 *  |-Converted using font-converter.net.-+
 *  +-------------------------------------+
 */
@font-face {
  font-family: "DancingScriptOT";
  src: url("./fonts/DancingScript-Regular.eot");
  /* IE9 Compat Modes */
  src: url("./fonts/DancingScript-Regular.eot?#iefix") format("embedded-opentype"), url("./fonts/DancingScript-Regular.otf") format("opentype"), url("./fonts/DancingScript-Regular.svg") format("svg"), url("./fonts/DancingScript-Regular.ttf") format("truetype"), url("./fonts/DancingScript-Regular.woff") format("woff"), url("./fonts/DancingScript-Regular.woff2") format("woff2");
  /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

/*# sourceMappingURL=style.css.map */
