header {
    width: auto;
    transition: 0.3s ease-in-out;
}

.logo {
    width: auto;
    transition: 0.3s ease-in-out;
}

nav {
    display: none;
}

.menu-button {
    display: flex;
    cursor: pointer;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 25px;
    right: 35px;
    height: 50px;
    z-index: 2;
    transition: 0.3s ease-in-out;
}

#menu-bar-one, #menu-bar-two, #menu-bar-three {
    width: 32px;
    height: 3px;
    margin: 5px 0px;
    background-color: #EAC67A;
    transition: 0.3s ease-in-out;
}

.open #menu-bar-one {
    -webkit-transform: rotate(-45deg) translate(-9px, 8.75px);
    transform: rotate(-45deg) translate(-9px, 8.75px);
}

.open #menu-bar-two {
    opacity: 0;
}

.open #menu-bar-three {
    -webkit-transform: rotate(45deg) translate(-8.75px, -9px);
    transform: rotate(45deg) translate(-8.75px, -9px);
}

#mobile-menu {
    display: flex;
}

.overlay {
    position: fixed;
    justify-content: center;
    align-items: center;
    height: 0px;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0, 0.9);
    z-index: 1;
    overflow: hidden;
    transition: 0.5s;
}

.overlay-content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 80%;
    text-align: center;
}

.overlay ul {
    flex-direction: column;
    width: 80%;
}

.overlay li {
    justify-content: center;
    width: 100%;
    padding: 15px;
    border-top: 1px solid #EAC67A;
}

.overlay a {
    color: #EAC67A;
    text-decoration: none;
    font-size: 24px;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.open .overlay {
    height: 100%;
}

#first-link {
    border-top: none;
}

.section {
    flex-direction: column;
    align-items: center;
}

.column {
    width: 50%;
}

#portfolio {
    width: 125%;
}

#col-3 {
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    padding: 0px;
}

#col-3 img {
    width: 100%;
    height: auto;
}

.sub-column {
    padding: 0 5px;
    width: 50%;
}

.secondary-text {
    width: 100%;
}

#pricing {
    flex-direction: column;
}

#pricing ul {
    padding: 0px;
    flex-direction: column;
}

#pricing li {
    padding: 5px;
}

.list-sep {
    display: none;
}